In [4]:
a= ' I am very keen in building up my career in Data Science, but not sure from where to start. If I search the web it throws me thousands of articles, few are relevant others make me confused, again I come around to the same page. Supervised has provided me a good platform to remove all such qualms which were wrangling in my mind'
len(a)

328

In [4]:
a.lower()

' i am very keen in building up my career in data science, but not sure from where to start. if i search the web it throws me thousands of articles, few are relevant others make me confused, again i come around to the same page. supervised has provided me a good platform to remove all such qualms which were wrangling in my mind'

In [6]:
b = a.replace(",","")
b = b.replace(".","")
b

' I am very keen in building up my career in Data Science but not sure from where to start If I search the web it throws me thousands of articles few are relevant others make me confused again I come around to the same page Supervised has provided me a good platform to remove all such qualms which were wrangling in my mind'

In [7]:
c = b.replace(" ","")
c

'IamverykeeninbuildingupmycareerinDataSciencebutnotsurefromwheretostartIfIsearchthewebitthrowsmethousandsofarticlesfewarerelevantothersmakemeconfusedagainIcomearoundtothesamepageSupervisedhasprovidedmeagoodplatformtoremoveallsuchqualmswhichwerewranglinginmymind'

In [21]:
id(b.find("Data Science"))

140704822896368

In [11]:
a1 = b.split()
a2 = []
for i in a1:
    if i not in a2:
        a2.append(i)
for i in range(0,len(a2)):
    print("Frequency of ",a2[i]," is",a1.count(a2[i]))

Frequency of  I  is 3
Frequency of  am  is 1
Frequency of  very  is 1
Frequency of  keen  is 1
Frequency of  in  is 3
Frequency of  building  is 1
Frequency of  up  is 1
Frequency of  my  is 2
Frequency of  career  is 1
Frequency of  Data  is 1
Frequency of  Science  is 1
Frequency of  but  is 1
Frequency of  not  is 1
Frequency of  sure  is 1
Frequency of  from  is 1
Frequency of  where  is 1
Frequency of  to  is 3
Frequency of  start  is 1
Frequency of  If  is 1
Frequency of  search  is 1
Frequency of  the  is 2
Frequency of  web  is 1
Frequency of  it  is 1
Frequency of  throws  is 1
Frequency of  me  is 3
Frequency of  thousands  is 1
Frequency of  of  is 1
Frequency of  articles  is 1
Frequency of  few  is 1
Frequency of  are  is 1
Frequency of  relevant  is 1
Frequency of  others  is 1
Frequency of  make  is 1
Frequency of  confused  is 1
Frequency of  again  is 1
Frequency of  come  is 1
Frequency of  around  is 1
Frequency of  same  is 1
Frequency of  page  is 1
Frequency of  Supervised  is 1
Frequency of  has  is 1
Frequency of  provided  is 1
Frequency of  a  is 1
Frequency of  good  is 1
Frequency of  platform  is 1
Frequency of  remove  is 1
Frequency of  all  is 1
Frequency of  such  is 1
Frequency of  qualms  is 1
Frequency of  which  is 1
Frequency of  were  is 1
Frequency of  wrangling  is 1
Frequency of  mind  is 1

In [27]:
a1 = b.split()
a2 = []
for i in a1:
    if i not in a2:
        a2.append(i)
for i in range(0,len(a2)):
    if a1.count(a2[i])>1:
        print(a2[i])

I
in
my
to
the
me

In [28]:
c = a.replace("Supervised","Unsupervised")
c

' I am very keen in building up my career in Data Science, but not sure from where to start. If I search the web it throws me thousands of articles, few are relevant others make me confused, again I come around to the same page. Unsupervised has provided me a good platform to remove all such qualms which were wrangling in my mind'

In [5]:
a4 = a.split(".")
a4

[' I am very keen in building up my career in Data Science, but not sure from where to start',
 ' If I search the web it throws me thousands of articles, few are relevant others make me confused, again I come around to the same page',
 ' Supervised has provided me a good platform to remove all such qualms which were wrangling in my mind']

In [8]:
c["a"]

TypeError: string indices must be integers

In [10]:
c.count("a")

22

In [13]:
for i in a2:
    if i.endswith('e'):
        print(i)

Science
sure
where
the
me
are
make
come
same
page
remove
were

In [23]:
purchase = {"apple":0.25,"sugar":0.5,"rice":2.5,"milk":2.5,"egg":1}
purchase

{'apple': 0.25, 'sugar': 0.5, 'rice': 2.5, 'milk': 2.5, 'egg': 1}

In [24]:
purchase["aata"] = 1

In [25]:
purchase

{'apple': 0.25, 'sugar': 0.5, 'rice': 2.5, 'milk': 2.5, 'egg': 1, 'aata': 1}

In [26]:
purchase["rice"] = 1
purchase

{'apple': 0.25, 'sugar': 0.5, 'rice': 1, 'milk': 2.5, 'egg': 1, 'aata': 1}

In [20]:
len(purchase)

6

In [27]:
for keys,values in purchase.items():
    print(keys)
    print(values)

apple
0.25
sugar
0.5
rice
1
milk
2.5
egg
1
aata
1

In [30]:
purchase_price = {"apple":220,"sugar":43,"rice":45,"milk":30,"egg":60,"aata":1}

In [31]:
{k:purchase[k]*purchase_price[k] for k in purchase}

{'apple': 55.0, 'sugar': 21.5, 'rice': 45, 'milk': 75.0, 'egg': 60, 'aata': 1}

In [1]:
AI_Companies = ['Amazon','Facebook','HiSilicon','Google','Apple','Microsoft','Sensetime']

In [2]:
AI_Companies.sort()

In [3]:
AI_Companies

['Amazon',
 'Apple',
 'Facebook',
 'Google',
 'HiSilicon',
 'Microsoft',
 'Sensetime']

In [5]:
AI_Companies.extend(['Nvidia','OpenAI','Qualcom','Reliance'])

In [6]:
AI_Companies

['Amazon',
 'Apple',
 'Facebook',
 'Google',
 'HiSilicon',
 'Microsoft',
 'Sensetime',
 'Nvidia',
 'OpenAI',
 'Qualcom',
 'Reliance']

In [13]:
AI_Companies1 = [2,3,5]
[AI_Companies[i] for i in AI_Companies1]

['Facebook', 'Google', 'Microsoft']